.article{
    transition: 0.2s;
    background: #343434;
    padding: 15px;
    display: flex;
    gap: 50px;
    height: fit-content;
    font-size: 18px;
    margin-top: 10px;
}
.article:hover{
    transition: 0.2s;
    background: #424242;
    cursor: pointer;
}
.article-text{
    padding-right: 50px;
span{
    color: #6e6e6e;
}
}
.date-views{
    display: flex;
    justify-content: space-between;
}
.article-desc{
    color: #a9a9a9;
}
.article-img{
    width: 12rem;
    height: 12rem;
}
@media (max-width: 1800px){
    .fact-generator{
        display: none;
    }
}