.pagination-controls{
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
}
.legends-sort{
    display: flex;
    gap: 1rem;
    button{
        padding: 10px;
    }
}
.title-sort{
    color: #838383;
}