body{
    font-size: 18px;
    color:white;
    background-color: #1a1a1a;
    --highlight-text: #f60314;
    --secondary-text: #6b6b6b;
    --react : #00d7ff;
    font-family: "Ubuntu", sans-serif;
}
pre{
    white-space: pre-wrap;
    color: #e5e5e5;
}
a{
    text-decoration: none;
    text-underline: none;
}
.highlight{
    color: var(--highlight-text);
}
.react-color{
    color: var(--react);
}
.react-main-color{
    color: #0198e5;
}
.container{
    font-size: 30px;
}
.wrap-text1{
    text-align: center;
    color: #6b6b6b;
}
.wrap-text1 .highlight{
    color: var(--highlight-text);
}
.nav-item{
    margin-left: 2rem;
}
.HomeText-list b{
    color: var(--highlight-text);
}
