.text-blank{
    height: 28rem;
}
.navbar1{
    justify-content: center;
    align-items: center;

}
.fact-generator{
    transition: 0.4s;
    position: fixed;
    width: 19rem;
    right: 0.1em;
    bottom: 1em;
    background-color: #343434;
    align-items: center;
    display: flex;

    flex-direction: column;
    border-radius: 0.5rem;
}
.text-blank{
transition: 0.4s;
}
.fact-generator .btn-info{
    font-size: 20px;
}
.text-blank{

    padding: 30px;
}
@media (max-width: 1795px){
    .fact-generator{
        display: none;
        transition: 0.2s;
        opacity: 0;
    }
}